# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
build/
dist/

# Инструменты
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Локальное окружение и данные
.env
*.log
pgdata/
.bench/
